{% extends 'base.html' %}

{% block title %} Lobby {% endblock title %}

{% block content %}

<div class="info">
    <h1>Welcome to Bideo(ビデオ)</h1>
    <p>A video Calling App just for personal firends.</p>
</div>
<div class='box-login box-shadow'>
    <h1>Join</h1>
    <form class="login-form">
        <div class='box-user'>
            <input type='text' name='room_name' placeholder='Room Code' required>
        </div>
        <div class='box-user'>
            <input type='text' name='username' placeholder='username' required>
        </div>
        <div class='box-btn'>
            <button type='button' onclick='alert("Join Room")'><img src="/media/images/arrow.svg" alt=""></button>
        </div>
    </form>
</div>

{% endblock content %}