
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Roboto+Condensed:wght@300&display=swap');
body{
    margin: 0%;
    padding: 0%;
    z-index: -1;
    background-image: url(/media/images/blur.png);
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    
}


.info{
    /* backdrop-filter: blur(5px); */
    background-image: url(/media/images/background.png);
    text-align: center;
    color: rgb(214, 207, 207);
    border-radius: 10px;
    font-family: "Bungee Shade", sans-serif;
    padding: 1%;
    border: solid rgb(171, 201, 224);
    -moz-box-shadow: 4px 4px 4px 4px rgb(17,27,52);
	-webkit-box-shadow: 4px 4px 4px 4px rgb(17,27,52);
	box-shadow: 4px 4px 4px 4px rgb(17,27,52);
    margin-top: 1%;
    margin-right: 3%;
    margin-left: 3%;
}

.info p {
    /* background-color: #222121b4; */
    display: inline;
    font-weight: 500;
    font-size: x-large;
}

.info h1 {
    display: inline;
    /* background-color: #222121b4; */
}

.form_area{
    text-align: center;
    border: 2px solid red;
}


.box-login {
    backdrop-filter: blur(5px);
	width: 40em;
	height: 35em;
	margin: auto;
	margin-top: 3em;
	border: solid rgb(171, 201, 224);
	border-radius: 0.5em;
	/* background-image: linear-gradient(RGB(143, 168, 153), RGB(168, 143, 158)); */
    background-image: url(/media/images/background.png)
}
.box-shadow {
	-moz-box-shadow: 4px 4px 4px 4px rgb(17,27,52);
	-webkit-box-shadow: 4px 4px 4px 4px rgb(17,27,52);
	box-shadow: 4px 4px 4px 4px rgb(17,27,52);
}
.box-login h1 {
	text-align: center;
	font-size: 3em;
    font-family: 'Roboto Condensed', sans-serif;
	
    color: white;
}
.login-form {
	height: 50%;
	width: 50%;
	margin: auto;
}
.login-form div {
	display: flex;
	flex-direction: column;
	flex-wrap: none;
	align-content: space-between;
}
.box-user {
	height: 120px;
	justify-content: space-around;
}
.box-user input {
	background: transparent;
	font-size: 1.3em;
	border: none;
	border-bottom: solid;
	border-radius: 2px;
	color: RGB(76, 78, 78);
}
.box-user input::placeholder {
    
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: white;
	opacity: 1; /* Firefox */
	padding-left: 0.1em;
}
.box-user input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: RGB(162, 180, 192);
	padding-left: 0.1em;
}
.box-user input::-ms-input-placeholder {
	/* Microsoft Edge */
	color: RGB(162, 180, 192);
	padding-left: 0.1em;
}
.box-btn {
	height: 80px;
	justify-content: end;
	align-items: center;
}
button {
	width: 100px;
	height: 60px;
	border-radius: 5px;
	border-color: rgb(181, 200, 214);
	color: white;
	background: rgb(36, 203, 81);
    text-align: center;
    
}
button:hover {
	box-shadow: 4px 4px 4px 4px rgb(17,27,52);
    background-color: skyblue;
}
